<div class="container">
    <div class="information main">
        <section class="information__contact">
            <span><i class="fa-solid fa-phone"></i> +591 74586008</span>
            <span><i class="fa-solid fa-envelope"></i> sacbolivia.1@gmail.com</span>
        </section>
        <ul class="information__socialNetwork">
            <li><a href="/paginaPrincipal.html" id="paginaPrincipal"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
        </ul>
    </div>
</div>
<div class="nav">
    <div class="search main">
        <img src="../../Assets/img/logo.png" alt="logo">
        <span><input type="text" placeholder="Buscar Producto"><i class="fa-solid fa-magnifying-glass"></i></span>
        <a href=""><i class="fa-regular fa-user"></i> Iniciar Session</a>
        <a href=""><i class="fa-solid fa-cart-shopping"></i> Mi Carrito</a>
    </div>
    <div class="menu main">
        <section class="menu__category">
            <i class="fa-solid fa-bars"></i>
            <p>Categoria</p>
            <i class="fa-solid fa-arrow-down"></i>
        </section>
        <ul class="menu__list">
            <li class="menu__list__item"><a href="/paginaPrincipal.html" id="pagina-principal">Pagina Principal</a></li>
            <li class="menu__list__item"><a href="/Views/Inventario/catalogo.html" id="catalogo">Catalogo</a></li>
            <li class="menu__list__item">Mis pedidos</li>
        </ul>
        <ul class="menu__list">
            <li class="menu__list__item">Quienes Somos</li>
            <li class="menu__list__item">Contactanos</li>
        </ul>
    </div>
</div>