<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grabador Cooper 4CH Wizsense</title>
    <link rel="stylesheet" href="../../Css/producto/producto.css">
</head>

<body>
    <header id="header"></header>
    <div class="product-title">
    </div>
    <main class="container-main main" id="detailArticle">
    </main>
    <script src="../../js/header/loadHeader.js"></script>
    <script src="../../js/Inventario/producto.js"></script>
</body>

</html>