<div class="nav">
    <div class="search main">
        <img src="../../Assets/img/logo.png" alt="logo">
        <span class="buscador">
            <input type="text" placeholder="Buscar Producto"><i class="fa-solid fa-magnifying-glass"></i>
        </span>
        <section class="options">
            <a href="#"><i class="fa-regular fa-user"></i> Iniciar Session</a>
            <a href="#"><i class="fa-solid fa-cart-shopping"></i> Mi Carrito</a>
        </section>
    </div>
    <div class="menu main">
        <label for="menu-switch" class="menu__category menu-mobile" style="text-align: center; justify-content: center;">
            <h2>MENU</h2>
        </label>
        <input type="checkbox" id="menu-switch">
        <ul class="menu__list">
            <li class="menu__list__item borderNone">
                <ul id="menuCategorie" onclick="toggleSubMenu(event)">
                    <i class="fa-solid fa-bars"></i>
                    <li id="itemMenuCategorie">
                        <p>Categorias</p>
                        <ul id="subMenuCategorie" style="display:none">
                        </ul>
                    </li>
                    <i class="fa-solid fa-arrow-down"></i>
                </ul>
            </li>
            <li class="menu__list__item borderLeft"><a href="/paginaPrincipal.html" id="pagina-principal">Pagina Principal</a></li>
            <li class="menu__list__item"><a href="/Views/Producto/index.html" id="catalogo">Catalogo</a></li>
            <li class="menu__list__item"><a href="#">Mis pedidos</a></li>
            <li class="menu__list__item"><a href="#">Quienes Somos</a></li>
            <li class="menu__list__item"><a href="#">Contactanos</a></li>
        </ul>
    </div>
</div>